[project]
	description = MidoNet for Docker Swarm, CoreOS Kubernetes, Konsole, and other cluster management tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tomoe Sugihara (tomoe)
[access "refs/for/refs/*"]
	read = group user/Tomoe Sugihara (tomoe)
	push = group user/Tomoe Sugihara (tomoe)
	label-Code-Review = -2..+2 group user/Tomoe Sugihara (tomoe)
	label-Verified = -1..+1 group user/Tomoe Sugihara (tomoe)
	rebase = group user/Tomoe Sugihara (tomoe)
	removeReviewer = group user/Tomoe Sugihara (tomoe)
	submit = group user/Tomoe Sugihara (tomoe)
[access "refs/heads/*"]
	read = group user/Tomoe Sugihara (tomoe)
	create = group user/Tomoe Sugihara (tomoe)
	push = +force group user/Tomoe Sugihara (tomoe)
	pushMerge = group user/Tomoe Sugihara (tomoe)
[access "refs/tags/*"]
	push = +force group user/Tomoe Sugihara (tomoe)
	pushTag = group user/Tomoe Sugihara (tomoe)
	pushSignedTag = group user/Tomoe Sugihara (tomoe)
