[Unit]
Description=Zookeeper service discovery

Requires=etcd.service
Requires=docker.service
Requires=zookeeker@%i.service

After=etcd.service
After=docker.service
Before=zookeeper@%i.service
BindsTo=zookeeper@%i.service

[Service]
EnvironmentFile=/etc/environment
# We'll get these from etcd eventually
Environment=ZOO_QUORUM=2888
Environment=ZOO_ELECTION=3888
# I don't like this at all, but I systemd doesn't like it inline
Environment=PASTE='{"id":"%i", "address":"${COREOS_PUBLIC_IPV4}", "quorumport":"${ZOO_QUORUM}", "electionport":"${ZOO_ELECTION}"}'

# Start
## Test whether service is accessible and then register useful information
ExecStart=/bin/bash -c '\
  zooresponse=$(echo "ruok" | ncat ${COREOS_PUBLIC_IPV4} 2181); \
  while true; do \
    if [ $zooresponse="imok" ]; then \
      etcdctl set /services/zookeeper/${COREOS_PUBLIC_IPV4} ${PASTE} --ttl 30; \
    else \
      etcdctl rm /services/zookeeper/${COREOS_PUBLIC_IPV4}; \
    fi; \
    sleep 20; \
  done'

# Stop
ExecStop=/usr/bin/etcdctl rm /services/zookeeper/${COREOS_PUBLIC_IPV4}

[X-Fleet]
MachineOf=zookeeper@%i.service
